:root {
  --border-radius: 3px;
  --color-a1: color(display-p3 0.117 0.043 0.149);
  --color-a2: color(display-p3 0.853 0.953 0.826);
  --color-b1: #bfdbfe;
  --color-b2: #ea580c;
  --color-c1: #f97316;
  --color-c2: #1f2937;
}

/* https://fossheim.io/writing/posts/accessible-theme-picker-html-css-js/ */
:root,
[data-selected-theme="combo-1"] {
  --color-accent: white;
  --color-background: var(--color-a1);
  --color-text: var(--color-a2);
}

[data-selected-theme="combo-2"] {
  --color-accent: white;
  --color-background: var(--color-a2);
  --color-text: var(--color-a1);
}

[data-selected-theme="combo-3"] {
  --color-accent: white;
  --color-background: var(--color-b1);
  --color-text: var(--color-b2);
}

[data-selected-theme="combo-4"] {
  --color-accent: white;
  --color-background: var(--color-b2);
  --color-text: var(--color-b1);
}

[data-selected-theme="combo-5"] {
  --color-accent: white;
  --color-background: var(--color-c1);
  --color-text: var(--color-c2);
}

[data-selected-theme="combo-6"] {
  --color-accent: white;
  --color-background: var(--color-c2);
  --color-text: var(--color-c1);
}

/* https://www.joshwcomeau.com/css/custom-css-reset/ */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
  max-width: 30rem;
  width: auto;
  margin-top: 1rem;
  font-size: clamp(1rem, 5vw, 1.312rem);
  line-height: 150%;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

a {
  color: inherit;
  text-decoration-thickness: 2px;
}

a:is(:hover, :focus) {
  text-decoration-thickness: 4px;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

::selection {
  background-color: var(--color-accent);
}

@media screen and (max-width: 500px) {
  .container {
    padding: 1rem;
  }
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

/* https://fossheim.io/writing/posts/accessible-theme-picker-html-css-js/ */
.theme-switcher {
  display: flex;
  margin: 1.5rem 0 1rem 0;
  font-size: 1.312rem;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;

  padding: 0.75rem 1.25rem;
  font-size: inherit;
  font-size: clamp(1rem, 5vw, 1.312rem);
  color: var(--color-text);
  border: 1px solid var(--color-text);
}

button[aria-pressed="true"] { 
  background: var(--color-a1);
  color: var(--color-a2);
}

button[data-theme] + button[data-theme] {
  border-left: none;
}

button[data-theme]:first-of-type {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

button[data-theme]:last-of-type {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

button[data-theme][aria-pressed="true"] {
  background-color: var(--color-text);
  color: var(--color-background);
}

button[data-theme]:is(:hover, :focus) {
  box-shadow: 0 0 0 2px var(--color-text) inset;
}

button[data-theme][aria-pressed="true"]:is(:hover, :focus) {
  box-shadow: 0 0 0 2px var(--color-background) inset;
}
