<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="manifest" href="/manifest.json" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="/leo.js" type="text/javascript" defer></script>
    <title>{% block title %}{% endblock %} - leo</title>
    {% endblock %}
  </head>

  <body>
    <div id="menu">
      <ul>
        {% if g.user %}
          <li><span>{{ g.user['username'] }}</span>
          <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
        {% else %}
          <li><a href="{{ url_for('auth.login') }}">Log In</a>
        {% endif %}
      </ul>
      <ul>
        <li><a href="{{ url_for('home') }}">home</a></li>
        <li><a href="{{ url_for('list_feeds') }}">feeds</a></li>
        <li><a href="{{ url_for('search_entries') }}">search</a></li>
      </ul>
      <form action="/url" method="get">
        <input type="text" name="url" value=""></input>
        <button>go</button>
      </form>
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
        <div class="theme-switcher">
          <button data-theme="combo-1" aria-pressed="true">1</button>
          <button data-theme="combo-2" aria-pressed="false">2</button>
        </div>
      <hr/>
      <ul>
        <li><a
                href="https://reader.readthedocs.io/en/latest/guide.html">https://reader.readthedocs.io/en/latest/guide.html</a></li>
        <li><a
        href="https://flask.palletsprojects.com/en/stable/quickstart/#">https://flask.palletsprojects.com/en/stable/quickstart/#</a></li>
      </ul>
      {% endblock %}
    </div>
  </body>
</html>
